$defaultMargin: 30px;
$accentColorHard: rgb(18, 23, 35);
$accentColorLight: rgb(41, 46, 57);
$accentColorButton: rgb(109, 49, 238);
$accentColorButtonLight: rgb(170, 157, 250);
$accentColorButtonHard: rgb(79, 40, 165);
;
