html {
	background-color: aqua;
	font-family: 'Raleway', sans-serif;
}

.card {
	display: flex;
	width: 400px;
	height: 155px;
	background-color: #A27750;
	color: white;

}
.img{
	width:155px;
	height: 100%;
	background-image: url(/DSC04943ы.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 20px;
}
.text {
	margin: 0;
}